<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>aplicacao</param-name>
        <param-value>app1</param-value>
    </context-param>
    <filter>
        <filter-name>controleAcesso</filter-name>
        <filter-class>UFJF.controleAcesso</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>controleAcesso</filter-name>
        <servlet-name>Controller</servlet-name>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>controleAcesso</filter-name>
        <url-pattern>/menu.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>controleAcesso</filter-name>
        <servlet-name>servletLista</servlet-name>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <listener>
        <description>Listener da página</description>
        <listener-class>UFJF.listener</listener-class>
    </listener>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>UFJF.Valida</servlet-class>
        <init-param>
            <param-name>url</param-name>
            <param-value>www.ufjf.br</param-value>
        </init-param>
        <init-param>
            <param-name>usuario_banco</param-name>
            <param-value>nbuser</param-value>
        </init-param>
        <init-param>
            <param-name>senha_banco</param-name>
            <param-value>abc1234</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>servletLista</servlet-name>
        <servlet-class>UFJF.servletLista</servlet-class>
        <init-param>
            <param-name>usuario_banco</param-name>
            <param-value>nbuser</param-value>
        </init-param>
        <init-param>
            <param-name>senha_banco</param-name>
            <param-value>abc1234</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Invalida</servlet-name>
        <servlet-class>UFJF.Invalida</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>UFJF.Controller</servlet-class>
        <init-param>
            <param-name>usuario_banco</param-name>
            <param-value>nbuser</param-value>
        </init-param>
        <init-param>
            <param-name>senha_banco</param-name>
            <param-value>abc1234</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletLista</servlet-name>
        <url-pattern>/servletLista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Invalida</servlet-name>
        <url-pattern>/Invalida</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/erro.html</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/erroException.html</location>
    </error-page>
</web-app>
